.nav {
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 1rem;
 background-color: #f8f9fa;
 border-bottom: 1px solid #e9ecef;
}

.navHeader {
 font-family: Montserrat;
 font-size: 24px;
 font-weight: 400;
 line-height: 29.26px;
 letter-spacing: 0.1em;
 text-align: left;

}

.navHeader>span {
 font-weight: 700;
}